%h1 Short URI:
%form{:action => "javascript:void(0)", :method => "get"}
  %input{:type => "text", :readonly => "readonly", :id => "newuri",
         :value => @newuri, :onclick => "this.select(); return false"}
#back         
  %a{:href => "/"} Back
